<form>
  <label>DNI:</label>
  <input type="text" id="dni" placeholder="Introduzca el DNI" #dni />
  <label>Nombre:</label>
  <input type="text" id="nombre" placeholder="Introduzca el Nombre" #nombre />
  <label>Apellidos:</label>
  <input
    type="text"
    id="apellidos"
    placeholder="Introduzca los apellidos"
    #apellidos
  />
  <label>Direccion:</label>
  <input
    type="text"
    id="direcion"
    placeholder="Introduzca la direccion"
    #direccion
  />
  <label>Telefono:</label>
  <input type="text" id="tlf" placeholder="Introduzca el Telefono" #tlf />

  <button
    type="button"
    (click)="
      addPartner(
        dni.value,
        direccion.value,
        tlf.value,
        nombre.value,
        apellidos.value
      )
    "
  >
    Añadir Socio
  </button>
</form>

<div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let partner of partners">
        <td>{{ partner.codigo_socio }}</td>
        <td>{{ partner.nombre }}</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>ID Socio</th>
        <th>ID Volumen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rent of rents">
        <td>{{ rent.codigo_socio }}</td>
        <td>{{ rent.id_volumen }}</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>ID volumen</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let volume of volumes">
        <td>{{ volume.id }}</td>
        <td>{{ volume.estado }}</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>ID Libro</th>
        <th>ISBN</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let edit of edits">
        <td>{{ edit.id_libro }}</td>
        <td>{{ edit.ISBN }}</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>ID Libro</th>
        <th>ISBN</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let edition of editions">
        <td>{{ edition.ISBN }}</td>
        <td>{{ edition.editorial }}</td>
      </tr>
    </tbody>
  </table>
</div>
